*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

}

body {
  box-sizing: border-box;


  @include respond(big-desktop){
    font-size: 90%;
  }

  @include respond(tab-land){
    font-size: 80%;
  }

  @include respond(tab-port){
    font-size: 70%; //defines what 1rem is. Have to use em to change font size relative to this.
  }

  @include respond(phone){
    font-size: 70%;
  }
}