// this is what 1 rem is
hmtl {
  font-size: 62.5%;
}

base {
  line-height: 1.7;
  color: $color-white;
  font-weight: 400;
  font-family: "Nunito";
}

.primary-title {
  font-weight: 700;
  font-size: 2.5rem;
}

.secondary-title {
  font-size: 2rem;
  font-weight: 700;
}

.tertiary-title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

li {
  padding: 0.5rem;
  list-style-type: none;
}

// MARGINS
.margin-big {
  margin-bottom: 50vh;
}

.margin-medium {
  margin-bottom: 10vh;
}

.margin-small{
  margin-bottom: 1rem;
}

//TEXT COLOR
.color-blue{
  color: $color-primary-dark;
}