base {
  line-height: 1.7;
  color: $color-white;
  font-weight: 400;
  font-family: "Nunito";
}

.primary-title {
  font-weight: 700;
  font-size: 6em;
}

.secondary-title {
  font-size: 2em;
  font-weight: 700;
}

.tertiary-title {
  font-size: 1.5em;
  font-weight: 300;
}

.paragraph{
  font-size: 1em;
  font-weight: 300;
}

//TEXT ALIGNMENT
.text-center{
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

// MARGINS
.margin-big {
  margin-bottom: 50vh;

  @include respond(tab-land){
    margin-bottom: 20vh;
  }
}

.margin-medium {
  margin-bottom: 10vh;
}

.margin-small{
  margin-bottom: 1em;
}

.margin-small-above{
  margin-top: 1em;
}

//PADDING
.padding-large{
  padding: 2em;
}

.padding-small{
  padding: 1em;
}

//TEXT COLOR
.color-blue{
  color: $color-primary-dark;
}

//HORIZONTAL RULE
.hr-footer{
  margin-top: 5vh;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  border: 0.1em solid $color-black;
}

//HIDDEN CLASS FOR RESPONSIVENESS
.hidden{
  @include respond(tab-land){
    visibility: hidden;
  }
}