$color-primary-light: #d9fdfb;
$color-primary: #00d9dd;
$color-primary-dark: #007cf9;

$color-footer: #6A6A6A;

$color-btn-primary: #ee6533;

$color-black: #000;
$color-white: #fff;
$color-dark-grey: #c4c4c4;
$color-light-grey: #F8F9FA;
