.header {
  height: 100vh;
  background-image: linear-gradient(
      rgba($color-primary-light, 0.7),
      rgba($color-primary, 0.7)
    ),
    url("../img/icsm-logo.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center top;

  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
}

.overview {
  height: 30vh;

  @include respond(phone){
    height: 40vh;
  }
  position: relative;
  margin-bottom: 10vh;

  &__text-box {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }

  &__item {
    padding: 0.5rem;
    list-style-type: none;
    font-size: 1.2rem;
  }
}

.structure {
  &__course-buttons {
    text-align: center;
    margin: 10px 10px;
  }
}

.signup {
  background-color: $color-primary-light;
  height: 60vh;
  padding-top: 20vh;

  clip-path: polygon(0 20vh, 100% 0, 100% 100%, 0 100%);
}
