.header {
  height: 60em;
  background-image: linear-gradient(
      rgba($color-primary-light, 0.7),
      rgba($color-primary, 0.7)
    ),
    url("../react/img/icsm-logo.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center top;

  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

  &__text-box {
    position: absolute;
    top: 20%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }

  &__text-box__btn {
    position: absolute;
    top: 60%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }

}

.overview {
  height: 60em;

  position: relative;

  bottom: 12em;

  clip-path: polygon(0% 20%, 100% 0, 100% 80%, 0 100%);
  background-color: rgba($color-dark-grey, 0.2);

  &__text-box {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }

  &__item {
    padding: 0.5rem;
    list-style-type: none;
    font-size: 1.5em;
  }
}

.content{
  height: 80em;
  position: relative;

  &__text-box {
    position: absolute;
    width: 100%;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }

  &__item {
    display: inline-block;
    width: 50%;
    background-color: rgba($color-primary, 0.7);
    margin: 0.75em;
    padding: 0.5rem;
    list-style-type: none;
    font-size: 2em;
    color: $color-white;
  }
}

.email{
  height: 25em;
  position: relative;

  clip-path: polygon(0% 20%, 100% 0, 100% 100%, 0 100%);
  background-color: rgba($color-primary, 0.4);

  &__text-box {
    position: absolute;
    text-align: left;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  &__span1{
    font-style: italic;
    padding-right: 0.5em;
    font-weight: 500;
    font-size: 3em;
  }
}