.header {
  height: 50em;
  background-image: linear-gradient(
      rgba($color-primary-light, 0.7),
      rgba($color-primary, 0.7)
    ),
    url("../react/img/icsm-logo.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center top;

  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

  &__text-box {
    position: absolute;
    top: 15em;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }

  &__text-box__btn {
    position: absolute;
    top: 40em;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }

}

.overview {
  height: 25em;

  position: relative;
  margin-bottom: 10vh;

  &__text-box {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }

  &__item {
    padding: 0.5rem;
    list-style-type: none;
    font-size: 1.5em;
  }
}

.structure {
  &__course-buttons {
    text-align: center;
    margin: 1em 1em;
  }
}
