.photo-section{
    margin-left: 10em;
    margin-right: 10em;
    position: relative;
    top: 1em;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.team-image{
    max-height: 300px;
    max-width: 300px;
}

.photo-container{
    margin: 5em;
    width: 15em;
    height: 15em;
    text-align: center;
    background-color: $color-light-grey;
    border-radius: 50%;
}