.iframe-container{
    margin-top: 1em;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;

    & iframe{

      position: absolute;
      top:0;
      left: 50%;
      transform: translate(-50%, 0);
      width: 60%;
      height: 60%;
  
  
      @include respond(tab-land){
        width: 100%;
        height: 100%;
        transform: translate(0, 0);
        top:0;
        left: 0;
      }

    }

  }

  .video{
    position: relative;

    & h3{
      text-align: center;
      @include respond(tab-land){
        text-align: left;
      }

    }

    &-description{
      position: absolute;
      top: 63%;
      background-color: rgba($color-dark-grey, 0.3);
      width: 58%;
      left: 50%;
      transform: translate(-50%, 0);

      & h3{
          text-align: left;
      }


      @include respond(tab-land){
        position: relative;
        width: 100%;
      }
    }


  }
