.footer{
    height: 25em;
    text-align: center;
    padding: 1em;
    background-color: white;
    position: relative;
    margin-top: 0;


    &__list{
      list-style: none;
      left: 50%;
    }

    &__item{
      padding-right: 2em;
      padding-top:0.5em;
      display: inline-block;
      font-size: 2em;

    }

    &__link{

      &:visited, &:link{
        text-decoration: none;
        text-transform: uppercase;
        color: $color-primary;
        display: inline-block;
      }

      &:hover, &:active{
        color: $color-btn-primary;
      }

      &:hover{
        transform: translate(0, -3px);
      }

      &:active{
        transform: translate(0, -1px);
      }
    }
  }