.mc_embed_signup{
    background:#fff; 
    clear:left;
}

input[type=submit] {
    padding: 0.3em 1em; 
    background: $color-btn-primary; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 100px; 
    font-size: 2em;
}