.navbar{

    top: 0px;
    position: sticky;
    z-index: 10;

    height: 1.5em; 
    width: 100%; 
    background-color: $color-btn-primary;

    &__list{
        position: absolute;
        right: 0;
    }

    &__list-item{
        display: inline-block;
        padding-right: 1em;
        font-size: 1em;

    }

    &__list-item a{
        text-decoration: none;
        color: $color-white;
    }

    &__list-item a:hover{
        color: $color-light-grey;
    }
}